In [1]:
import pandas as pd
import pylab
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns
sns.set()

import pydicom
import os

from os import listdir

from skimage.transform import resize
from imgaug import augmenters as iaa

In [2]:
INPUT_PATH = "F:/rsna-intracranial-hemorrhage-detection/"
INPUT_PATH2 = "F:/rsna-intracranial-hemorrhage2/"

In [65]:
submission = pd.read_csv(INPUT_PATH2 + "stage_2_sample_submission.csv")
submission.shape

(727392, 2)

In [66]:
#527392
submission = submission.iloc[527392:,]

In [67]:
submission.shape

(200000, 2)

In [68]:
#submission.to_csv('new_submission.csv')
submission.to_csv(os.path.join(INPUT_PATH2,r'new_submission.csv'))

In [51]:
train = pd.read_csv(INPUT_PATH2 + "stage_2_train.csv")
train.head(10)

                              ID  Label
0          ID_12cadc6af_epidural      0
1  ID_12cadc6af_intraparenchymal      0
2  ID_12cadc6af_intraventricular      0
3      ID_12cadc6af_subarachnoid      0
4          ID_12cadc6af_subdural      0
5               ID_12cadc6af_any      0
6          ID_38fd7baa0_epidural      0
7  ID_38fd7baa0_intraparenchymal      0
8  ID_38fd7baa0_intraventricular      0
9      ID_38fd7baa0_subarachnoid      0

In [52]:
train.shape

(4516842, 2)

In [54]:
#4316842
train = train.iloc[4316842:,]

In [55]:
train.shape

(200000, 2)

In [64]:
#train.to_csv('C:/Users/natha/IA', 'new_train.csv')
train.to_csv(os.path.join(INPUT_PATH2,r'new_train.csv'))

In [72]:
dir_test_train = INPUT_PATH2 + 'new_train.csv'

In [73]:
test_train = pd.read_csv(dir_test_train)
test_train.head(10)

   Unnamed: 0                             ID  Label
0     4316842          ID_a3690728d_subdural      0
1     4316843               ID_a3690728d_any      0
2     4316844          ID_661d54f18_epidural      0
3     4316845  ID_661d54f18_intraparenchymal      0
4     4316846  ID_661d54f18_intraventricular      0
5     4316847      ID_661d54f18_subarachnoid      0
6     4316848          ID_661d54f18_subdural      0
7     4316849               ID_661d54f18_any      0
8     4316850          ID_0c3567c80_epidural      0
9     4316851  ID_0c3567c80_intraparenchymal      0

In [74]:
test_train.shape

(200000, 3)

In [78]:
test_train = test_train.drop(columns=['Unnamed: 0'])

KeyError: "['Unnamed: 0'] not found in axis"

In [79]:
test_train.head(10)

                              ID  Label
0          ID_a3690728d_subdural      0
1               ID_a3690728d_any      0
2          ID_661d54f18_epidural      0
3  ID_661d54f18_intraparenchymal      0
4  ID_661d54f18_intraventricular      0
5      ID_661d54f18_subarachnoid      0
6          ID_661d54f18_subdural      0
7               ID_661d54f18_any      0
8          ID_0c3567c80_epidural      0
9  ID_0c3567c80_intraparenchymal      0

In [80]:
dir_test_submission = INPUT_PATH2 + 'new_submission.csv'

In [81]:
test_submission = pd.read_csv(dir_test_submission)
test_submission.head(10)

   Unnamed: 0                             ID  Label
0      527392          ID_471ee6592_subdural    0.5
1      527393               ID_471ee6592_any    0.5
2      527394          ID_575f0805f_epidural    0.5
3      527395  ID_575f0805f_intraparenchymal    0.5
4      527396  ID_575f0805f_intraventricular    0.5
5      527397      ID_575f0805f_subarachnoid    0.5
6      527398          ID_575f0805f_subdural    0.5
7      527399               ID_575f0805f_any    0.5
8      527400          ID_7763df154_epidural    0.5
9      527401  ID_7763df154_intraparenchymal    0.5

In [82]:
test_submission = test_submission.drop(columns=['Unnamed: 0'])

In [83]:
test_submission.head(10)

                              ID  Label
0          ID_471ee6592_subdural    0.5
1               ID_471ee6592_any    0.5
2          ID_575f0805f_epidural    0.5
3  ID_575f0805f_intraparenchymal    0.5
4  ID_575f0805f_intraventricular    0.5
5      ID_575f0805f_subarachnoid    0.5
6          ID_575f0805f_subdural    0.5
7               ID_575f0805f_any    0.5
8          ID_7763df154_epidural    0.5
9  ID_7763df154_intraparenchymal    0.5